[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "funkyheatmap"]
	path = funkyheatmap
	url = https://github.com/funkyheatmap/funkyheatmap
	shallow = true
	registered = true
